* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

$first-primary-color: #901C1C;
$second-primary-color: #D3573C;
$first-secondary-color: #DB8876;
$second-secondary-color: #C4C4C4;
.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tags {
        text-transform: capitalize;
        color: $first-primary-color;
        border: 0.5px solid $second-secondary-color;
        border-radius: 11px;
        font-size: 12px;
        padding: 3px;
        margin: 0 5px 5px 0;
        font-weight: 500;
    }
}

//HEADER
header {
    position: relative;
    img {
        padding-top: 30px;
        margin-bottom: 15px;
        height: 40px;
    }
    // nav {
    // }
}

//CONTENT
main {
    h1 {
        position: absolute;
        top: 43px;
        right: 15px;
        font-size: 14px;
        color: $first-primary-color;
        font-weight: normal;
    }
    #container-photographers-list {
        margin-top: 20px;
        .photographers-list {
            text-align: center;
            margin-bottom: 20px;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            .photographers-description {
                h3 {
                    color: $second-primary-color;
                }
                .city-country {
                    color: $first-primary-color;
                }
                .price {
                    color: $second-secondary-color;
                }
            }
        }
    }
}