                    * {
                        list-style-type: none;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                    }
                    
                    body {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 400;
                    }
                    
                    $first-primary-color: #901C1C;
                    $second-primary-color: #D3573C;
                    $first-secondary-color: #DB8876;
                    $second-secondary-color: #C4C4C4;
                    $other-second-secondary: #525252;
                    $background-color-tags-buttons: white;
                    //HEADER
                    #main-header {
                        position: relative;
                        #logo {
                            padding-top: 30px;
                            margin-bottom: 15px;
                            height: 40px;
                        }
                        .tags-container-index {
                            // margin: auto;
                            // width: 70%;
                        }
                    }
                    
                    .tags-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .tags {
                            text-transform: capitalize;
                            background-color: $background-color-tags-buttons;
                            color: $first-primary-color;
                            border: 0.5px solid $second-secondary-color;
                            border-radius: 11px;
                            font-size: 12px;
                            padding: 4px;
                            margin: 0 5px 5px 0;
                            font-weight: 700;
                        }
                    }
                    
                    h1 {
                        font-weight: normal;
                    }
                    
                    //INDEX CONTENT
                    #main-index {
                        h1 {
                            position: absolute;
                            top: 43px;
                            right: 15px;
                            font-size: 14px;
                            color: $first-primary-color;
                        }
                        #container-photographers-list {
                            margin-top: 20px;
                            .photographers-list {
                                text-align: center;
                                margin-bottom: 20px;
                                img {
                                    width: 100px;
                                    height: 100px;
                                    object-fit: cover;
                                    object-position: center;
                                    border-radius: 50%;
                                }
                                .photographers-description {
                                    h2 {
                                        color: $second-primary-color;
                                    }
                                    .city-country {
                                        color: $first-primary-color;
                                    }
                                    .price {
                                        color: $second-secondary-color;
                                    }
                                }
                            }
                        }
                    }
                    
                    //Page de Photgraphers 
                    #page-photographer {
                        margin: auto;
                        width: 90%;
                        position: relative;
                        #container-personal-informations {
                            display: flex;
                            justify-content: space-between;
                            // position: relative;
                            margin-bottom: 40px;
                            h1 {
                                font-size: 16px;
                                color: $second-primary-color;
                            }
                            #city-country-photographer {
                                font-size: 13px;
                                color: $first-primary-color;
                                padding-bottom: 5px;
                            }
                            #tagline-photographer {
                                font-size: 13px;
                                color: $other-second-secondary;
                                padding-bottom: 5px;
                            }
                            #tags-container-photographers {
                                display: flex;
                                #all-tags {
                                    text-transform: capitalize;
                                    color: $first-primary-color;
                                    border: 0.5px solid $second-secondary-color;
                                    border-radius: 11px;
                                    font-size: 12px;
                                    padding: 3px;
                                    margin: 0 5px 5px 0;
                                }
                            }
                            #container-button {
                                position: absolute;
                                bottom: 20px;
                                left: 50%;
                                transform: translateX(-50%);
                                position: fixed;
                                #button-contact {
                                    background-color: $first-primary-color;
                                    padding: 10px 15px 10px 15px;
                                    color: white;
                                    border-radius: 5px;
                                    font-weight: 500;
                                    border: none;
                                }
                            }
                            #container-picture-profil {
                                img {
                                    width: 100px;
                                    height: 100px;
                                    object-fit: cover;
                                    object-position: center;
                                    border-radius: 50%;
                                }
                            }
                        }
                        #order-medias-container {
                            display: none;
                        }
                        #container-medias {
                            .medias {
                                margin-bottom: 10px;
                                .image-medias {
                                    img {
                                        width: 100%;
                                        height: 190px;
                                        object-fit: cover;
                                        border-radius: 5px;
                                    }
                                }
                                .description-medias {
                                    color: $first-primary-color;
                                    font-size: 14px;
                                    display: flex;
                                    justify-content: space-between;
                                    .container-likes {
                                        display: flex;
                                        align-items: center;
                                        p {
                                            padding-right: 5px;
                                        }
                                        #button-heart {
                                            border: none;
                                            background-color: white;
                                            cursor: pointer;
                                            .heart {
                                                color: $first-primary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    //ASIDE
                    #aside {
                        display: none;
                    }
                    
                    //MODAL
                    #modal-container {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $first-secondary-color;
                        #modal-content {
                            padding-top: 20px;
                            #close-modal-button {
                                background-color: $first-secondary-color;
                                border: none;
                                color: white;
                                font-size: 20px;
                                position: absolute;
                                right: 20px;
                                top: 15px;
                            }
                            //form
                            #form-container {
                                position: relative;
                                margin: auto;
                                width: 85%;
                                h1 {
                                    font-size: 36px;
                                }
                                //champs du formulaire
                                .formData-container {
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    label {
                                        font-size: 24px;
                                        margin-bottom: 5px;
                                    }
                                    input {
                                        border-radius: 5px;
                                        border: none;
                                        height: 50px;
                                        width: 100%;
                                        outline: inherit;
                                        font-size: 16px;
                                    }
                                    textarea {
                                        height: 80px;
                                        width: 100%;
                                        border-radius: 5px;
                                        outline: inherit;
                                    }
                                }
                                //button d'envoi
                                #button-submit-container {
                                    text-align: center;
                                    #button-submit {
                                        background-color: $first-primary-color;
                                        padding: 10px 40px 10px 40px;
                                        color: white;
                                        border-radius: 5px;
                                        font-weight: 500;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 1161px) {
                        //HEADER
                        #main-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 73%;
                            margin-bottom: 50px;
                            margin-top: 30px;
                            //logo
                            #logo {
                                padding-top: 0;
                                margin-bottom: 0;
                                margin-left: 30px;
                                height: 50px;
                            }
                            //navigation
                            nav {
                                display: flex;
                                flex-direction: column;
                                .tags-container-index {}
                            }
                        }
                        //Nos photographes Titre
                        #main-index {
                            h1 {
                                top: 35px;
                                right: 45px;
                                font-size: 25px;
                                color: $first-primary-color;
                            }
                        }
                        //Afficha de tous les photographers
                        #main-index {
                            #container-photographers-list {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                .photographers-list {
                                    width: 30%;
                                    margin-bottom: 30px;
                                    img {
                                        width: 150px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        //PAGE D'UN PHOTOGRAPHE
                        #page-photographer {
                            #container-personal-informations {
                                position: relative;
                                //informations personnalles
                                h1 {
                                    font-size: 50px;
                                }
                                #city-country-photographer {
                                    font-size: 25px;
                                    padding-bottom: 15px;
                                }
                                #tagline-photographer {
                                    font-size: 16px;
                                    padding-bottom: 10px;
                                }
                                #all-tags {
                                    font-size: 16px;
                                }
                                //button contactez moi
                                #container-button {
                                    position: absolute;
                                    left: 340px;
                                    top: 10px;
                                    button {
                                        padding: 15px 10px 15px 10px;
                                    }
                                }
                                //photo de profil
                                #container-picture-profil {
                                    img {
                                        width: 150px;
                                        height: 150px;
                                    }
                                }
                            }
                            #order-medias-container {
                                display: block;
                                margin-bottom: 50px;
                                label {
                                    font-weight: 700;
                                }
                                select {
                                    background-color: #901C1C;
                                    border: none;
                                    border-radius: 5px;
                                    color: white;
                                    padding: 10px 20px 10px 20px;
                                    option {
                                        border-bottom: 1px white solid;
                                    }
                                }
                            }
                            #container-medias {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                .medias {
                                    width: 30%;
                                    .image-medias {
                                        img {
                                            height: 250px;
                                        }
                                    }
                                    .description-medias {
                                        p {
                                            font-size: 17px;
                                        }
                                    }
                                }
                            }
                        }
                        #aside {
                            display: block;
                            position: fixed;
                            bottom: 0;
                            right: 20px;
                            display: flex;
                            justify-content: space-between;
                            background-color: $first-secondary-color;
                            border-radius: 5px;
                            width: 25%;
                            padding: 15px;
                            text-align: center;
                            #container-aside-likes {
                                display: flex;
                                font-weight: 700;
                                font-size: 16px;
                                p {
                                    margin-right: 5px;
                                }
                            }
                            #container-aside-price {
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }