* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tags-container .tags {
  text-transform: capitalize;
  background-color: white;
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  font-size: 12px;
  padding: 4px;
  margin: 0 5px 5px 0;
  font-weight: 700;
}

#main-header {
  position: relative;
}

#main-header img {
  padding-top: 30px;
  margin-bottom: 15px;
  height: 40px;
}

#main-header .tags-container-index {
  margin: auto;
  width: 70%;
}

h1 {
  font-weight: normal;
}

#main-index h1 {
  position: absolute;
  top: 43px;
  right: 15px;
  font-size: 14px;
  color: #901C1C;
}

#main-index #container-photographers-list {
  margin-top: 20px;
}

#main-index #container-photographers-list .photographers-list {
  text-align: center;
  margin-bottom: 20px;
}

#main-index #container-photographers-list .photographers-list img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

#main-index #container-photographers-list .photographers-list .photographers-description h2 {
  color: #D3573C;
}

#main-index #container-photographers-list .photographers-list .photographers-description .city-country {
  color: #901C1C;
}

#main-index #container-photographers-list .photographers-list .photographers-description .price {
  color: #C4C4C4;
}

#page-photographer {
  margin: auto;
  width: 90%;
  position: relative;
}

#page-photographer #container-personal-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

#page-photographer #container-personal-informations h1 {
  font-size: 38px;
  color: #D3573C;
}

#page-photographer #container-personal-informations #city-country-photographer {
  font-size: 13px;
  color: #901C1C;
  padding-bottom: 5px;
}

#page-photographer #container-personal-informations #tagline-photographer {
  font-size: 13px;
  color: #525252;
  padding-bottom: 5px;
}

#page-photographer #container-personal-informations #tags-container-photographers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-photographer #container-personal-informations #all-tags {
  text-transform: capitalize;
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  font-size: 12px;
  padding: 3px;
  margin: 0 5px 5px 0;
}

#page-photographer #container-personal-informations #container-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
}

#page-photographer #container-personal-informations #container-button button {
  background-color: #901C1C;
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  border: none;
}

#page-photographer #container-personal-informations #container-picture-profil img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

#page-photographer #container-medias .medias {
  margin-bottom: 10px;
}

#page-photographer #container-medias .medias .image-medias img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#page-photographer #container-medias .medias .description-medias {
  color: #901C1C;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-photographer #container-medias .medias .description-medias .container-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-photographer #container-medias .medias .description-medias .container-likes p {
  padding-right: 5px;
}

@media all and (min-width: 1161px) {
  #main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main-header img {
    height: 60px;
  }
  #main-header .tags-container-index {
    /* comportement visuel de cellule */
  }
  #main-index h1 {
    font-size: 36px;
    color: #901C1C;
  }
}
/*# sourceMappingURL=style.css.map */